# url
PHOTO_PATH = "media/photos/"
DEFAULT_PHOTO_PATH = "media/defaults/default_photo.jpg"

# django
# SECRET_KEY = 'fj)6_*!xp%4e4$(d#=p@&h)ze!1$aexd#ld1pfs$z#2xqy0tmr'
SECRET_KEY = 'your_secret_key'

DEBUG = True

# database
DATABASE_PASSWORD = 'your_database_password_here'
DATABASE_NAME = 'your_database_name_here'
DATABASE_USER = 'your_database_user_here'
DATABASE_HOST = 'localhost'
DATABASE_PORT = '5432'
DATABASE_ENGINE = 'django.db.backends.postgresql'

# hosts
ALLOWED_HOSTS='*'
# ALLOWED_HOSTS=localhost,127.0.0.1

# time
TIME_ZONE = 'Asia/Tashkent'


# lang
LANGUAGE_CODE = 'en-us'


# email
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = 'your_email@example.com'
EMAIL_HOST_PASSWORD = 'your_email_password'
 
SERVER_EMAIL = 'your_email@example.com'
DEFAULT_FROM_EMAIL = 'your_email@example.com'